<!DOCTYPE html>
<html>
<head>
    <title>💰 Finance Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% if current_user.is_authenticated %}
<nav>
    <h2>💰 Finance Manager</h2>
    <div>
        <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('main.add_transaction') }}">Add</a>
        <a href="{{ url_for('main.categories') }}">Categories</a>
        <a href="{{ url_for('main.summary') }}">Summary</a>
        <a href="{{ url_for('main.logout') }}">Logout</a>
        <button onclick="toggleTheme()">🌙</button>
    </div>
</nav>
{% endif %}

    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% for msg in messages %}
            <div class="flash">{{ msg }}</div>
          {% endfor %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
<script>
function toggleTheme(){
 document.body.classList.toggle('dark');
}
</script>
</body>
</html>
